.about-container {
    display: flex;
    justify-content: space-between;
   
}

.profile-picture {
  flex:1;
}

.about-section {
  flex:1;
}
p{
    font-size: 3rem;
    color: #333;
    line-height: 1.5;
}