h1{
    font-family: var(--font-dm-serif-display);
    font-weight: 100;
    padding-bottom: 30px;
    
   
}
h2{
    font-family: var(--font-dm-serif-display);
    font-weight: 100;


}
@media (min-width: 768px){
    
    .text{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        width: 60%;
        background-color: rgb(255,255,255,.5);
        padding: 35px 50px;
        width: 550px;
        
    }
    
}

